includes:
	- phpstan-baseline.neon

parameters:
  level: 4
  paths:
    - src
  excludePaths:
    - src/Application/Handlers
    - src/Application/ResponseEmitter
    - src/Application/Middleware/SessionMiddleware.php
