{% extends "layout.html.twig" %}

{% block body %}
  <h1>Choix de l'année</h1>
  <form method="post" action="{{ url_for('pickYear') }}">
    <div class="mb-3">
      <label for="year" class="form-label">Année</label>
      <select class="form-select" id="year" name="year">
        {% for year in years %}
          <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
{% endblock %}